.container{
    width: 500px;
    margin: 0 0 1px;
    padding: 7px 0 0;
    background-color: #f1f1f5;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.todos{
    flex : 1 1 auto;
    background-color: #fff;
    overflow-y: auto;
}


.timer{
    width: 100%;
    display: flex;
}


.bottom{
    display: flex;
    flex-direction: row;
}

@media(max-width:750px){
    .container{
        width: 100%;
    }
      
    .bottom{
        flex-direction: column;
    }
   }
   