.container{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    padding-right:2rem;
}

.pic{
    font-size:5rem;
}