button {
    cursor: pointer;
  }

  .wrapper{
    width: 500px;

  }
  
  .container {
    height: 500px;
    margin-left: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.267);
    position: relative;
    font-size:1rem;
    background-color: rgb(146 151 179 / 13%);
    padding:2rem;
    border-radius: 1.3rem;
  }
  
  .container .title {
    display: flex;
  }
  
  .container .title > button {
    border: none;
    margin-left: 5px;
    height: 20px;
    align-self: center;
    background: none;
  }
  
  .container .title .pagination {
    margin-left: auto;
    align-self: center;
  }
  .container .title .pagination button {
    margin: 0 10px;
    border: none;
    background: none;
  }
  
  .container .week {
    display: flex;
  }
  
  .container .week .weekday {
    width: calc(100% / 7);
    text-align: center;
  }
  
  .container .week .sunday {
    color: red;
  }
  
  .container .week .saturday {
    color: blue;
  }
  
  .container .date {
    height: auto;
  }
  
  .container .date .weekday {
    width: calc(100% / 7);
    float: left;
    padding:0;
    margin:0;
    cursor:pointer;
    height: 70px;
  }
  
  .container .date .sunday {
    color: red;
  }
  
  .container .date .saturday {
    color: blue;
  }
  
  .container .date .today {
    /* background-color: rgb(88, 111, 187);
    color: white; */
    font-weight: 700;
    border-radius: 50%;
  }
  .showDate{
    display: block;
  }
  .hiddenValue{
    display: none;
  }

  

  .miniViewerContainer{
    list-style: none;
    font-size: .5rem;
    height: 80%;
    overflow: hidden;
  }