.todo{
    display: flex;
    align-items: center;
    color:white;
}

.checkbox{
    width:1.5rem;
    height:1.5rem;
}

.text{
    flex: 1 1 0%;
    font-size:1.5rem;
    margin: 1rem;

}

.text *{
}

.iconWrapper{
    width:26px;
    height:26px;
    background-color: transparent;
    border-radius: 100%;
    transition: all 150ms ease-out;
}

.iconWrapper:hover{
    background-color: var(--color-main);
    transform: scale(1.2) rotate(15deg);

}
.button{

}

.icon{
    font-size: 1.5rem;
    margin-right:1rem;
    color:white;
}

