.todo{
    display: flex;
    align-items: center;
    padding:0.5rem 1rem;
    margin: 1rem;
    color:white;
    background-color: rgb(146 151 179 / 13%);
    border-radius: 1rem;
    height:90%;
}

.checkbox{
    width:1.5rem;
    height:1.5rem;
}

.text{
    flex: 1 1 0%;
    font-size:1.5rem;
}

.text *{
    margin-left: .5rem;
}

.icon{
    width:26px;
    height:26px;
    background-color: transparent;
    border-radius: 100%;
    transition: all 150ms ease-out;
}

.icon:hover{
    background-color: var(--color-main);
    transform: scale(1.2) rotate(15deg);
    color:var(--color-white);

}
.button{

}

