.container{
    width:500px;
    margin-left:4rem;
}

.items{
    margin-top:2rem;
    border:1px solid black;
    width:90%;
    background-color: rgb(146 151 179 / 13%);
    
}


.status{
    font-size:1rem;
    color:red;
}


@media (max-width:1500px) {
  
    .container{
      width:auto;    
    }
  
  }
  