.form{
    margin:2rem;
    width:100%;
}

.input{
    padding:1em;
    border:none;
    outline:none;
    border-radius:8px;
    display: inline;
}

.button{
    background-color: var(--color-main);
    color:var(--color-white);
    font-weight: bold;
    cursor:pointer;
}

.button:hover{
    filter:brightness(205%);
}

.timeInput{
}