.container{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    height: 100%;
    justify-content: space-between;
}

li{
    list-style: none;
}


.contents{
    display: flex;
    flex-direction: row;
    flex:1 1 auto;
    min-height: 0;
}