.container{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.menuTitle{
    color:#2c3e50;
}

li{
    list-style: none;
}

.mainView{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}



.contents{
    display: flex;
    flex-direction: row;
    flex:1 1 0%;
    flex-grow: 1;

}

.calendar{
    width: 100%;
    height:100%;
    background-color: rgba(16 18 27 / 40%);
    display: flex;
    align-items: center;    
}


.screen{
    height: 100%;
    display: flex;
}

.userImg{
    border-radius: 50%;
    width:3rem;
    margin-bottom: 1rem;
}

.nav{
    padding: .7rem;
    display: flex;
    justify-content: space-between;
}

.offButton{
    color:red;
    font-size:1.3rem;
}

.buttonUI{

}
.navButton{

 background-color: transparent;
 font-size:2rem;
padding-left:1rem;
padding-right:1rem;
color:white;
}

.userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5rem;
}


.navButton:hover{
    background-color: var(--color-main);
    color:var(--color-white);
}

.viewContents{
    border-bottom:3px solid white
}


@media(max-width:750px){
    .container{
        min-width:100%;
    }
      
    .contents{
        flex-direction: column;
    }
    .innerContents{

    }
   }

